@import url('https://fonts.googleapis.com/css?family=Roboto:500');

tr:nth-child(even) {
  background: #DFE3EE;
  color:black;
}
tr:nth-child(odd) {
  background: #DFE3EE;
  color:black;
}

.glyphicon {
  color: #8B9DC3;
  //font-size: 20px;
}

.glyphicon-trash{
  color: #C62727;
}

.logo_img{
    width:5%;
}


.navbar {
    margin-bottom: 0;
    background-color: #74DBEF;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    height: 30px;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #66ccff!important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.myheight{
  margin-top: 50px;
  //text-align: center;
}

.myfooter {
    font: 400 15px Lato, sans-serif;
    margin-bottom: 20px;
    color:#DFE3EE;
    //color: #66ccff;
    margin-top: 50px;
    text-align: center;
}

.myblue{
  background-color:#264E86;
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: white;
}

div.mycenter p{
    margin: 10;
    //background: yellow;
    position: absolute;
    //top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

h5{
  //background: yellow;
}

body.dark{
    background-color:#264E86;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color:#DFE3EE;
    //color: white;
    //color: #818181;
}

.mymodal{
  background-color:#DFE3EE;
  border-radius: 20px;
}

.dark{
    background-color:#264E86;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color:#DFE3EE;
    //color: white;
    //color: #818181;
}

.light{
    //background-color:#264E86;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    //color:#DFE3EE;
    //color: white;
    //color: #818181;
}


//center navbar
/*.nav.navbar-nav {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}*/

@media (min-width: 768px) {
    .navbar-nav {
        float: none;
    }
}

h1, h2 {
  text-align: center;
}

.align-right{
  text-align: center;
}

.auth-container {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  //width: 200px;
  color: #818181;
  //background-color:#DFE3EE;
  border: 2px solid #ccc;
  margin-top: 250px;
  padding: 20px;
  border-radius: 20px;
}


.search-bar-spacing {
  margin-bottom: 20px;
}

.title-bar {
  font-weight: bold; 
}

.form--demo {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
  background-color:#DFE3EE;
  border: 2px solid #ccc;
  margin-top: 40px;
  padding: 20px;
  border-radius: 20px;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }


  .uib-datepicker-popup.dropdown-menu {
  
}

.uib-button-bar {
  padding: 10px 9px 2px;
}

.uib-datepicker .uib-title {
  width: 100%;
}

.uib-day button, .uib-month button, .uib-year button {
  min-width: 100%;
}

.uib-left, .uib-right {
  width: 100%
}

.uib-position-measure {
  display: block !important;
  visibility: hidden !important;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.uib-position-scrollbar-measure {
  position: absolute !important;
  top: -9999px !important;
  width: 50px !important;
  height: 50px !important;
  overflow: scroll !important;
}

.uib-position-body-scrollbar-measure {
  overflow: scroll !important;
}

//ngPrint

@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        display:none;
    }

    #printSection, #printSection * {
        display: inline;
    }

    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}

//charts.js




