<div class="container">
  <div align="center" class="auth-container col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <h4>Login with Google</h4>
    <button ng-click="loginGoogle()" class="btn btn-info">Sign In</button>
  </div>

 <!-- <div><img src="/images/motherrr.png"></div>-->
  <!--<div class="col-xs-6 text-right">
    <section class="auth-form">
      <h4>Login/Register with Email</h4>
      <div>
        Email: <input type="text" ng-model="account.email" autofocus="true">
      </div>
      <div>
        Password: <input type="password" ng-model="account.password">
      </div>
      <br>
      <div>
        <button ng-click="login()" class="btn btn-info">Login</button>
        <button ng-click="register()" class="btn btn-info">Register</button>
      </div>
    </section>
  </div>-->
</div>